/*
Variables
*/

:root {
  --clr-blue: rgb(93, 158, 255);
  --clr-blue-light: rgb(181, 210, 255);
  --clr-blue-dark: rgb(59, 82, 117);
  --clr-white: rgb(231, 231, 231);
  --clr-gray: rgb(219, 219, 219);
  --clr-red-dark: rgb(173, 0, 0);
  --clr-red-light: rgb(255, 56, 56);
  --clr-green-dark: rgb(13, 77, 0);
  --clr-green-light: rgb(31, 189, 0);
  --clr-black: rgb(0, 0, 0);
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.103);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.404);
}

/*
Global Settings
*/

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen,
  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--clr-white);
  color: var(--clr-black);
  line-height: 1;
  font-size: 1rem;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
h3 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 1.25rem;
}
.section {
  width: 100vw;
  margin: 0 auto;
  max-width: 35rem;
  margin-top: 8rem;
  background: var(--clr-gray);
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  padding: 2em ;
  text-align: center;
}
.section:hover {
  box-shadow: var(--dark-shadow);
}
@media screen and (min-width: 800px) {
  .section {
    width: 65vw;
  }
}
main {
  min-height: 10vh;
  display: grid;
  place-items: center;
}

/*
Navbar
*/

nav {
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
}
nav:hover {
  box-shadow: var(--dark-shadow);
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-black);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  transform: rotate(90deg);
}
.logo {
  height: 30px;
}
.links a {
  color: var(--clr-blue-dark);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}
.links a:hover {
  background: var(--clr-white);
  color: var(--clr-blue);
  padding-left: 1.5rem;
}
.links-nav {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-links {
  height: 5rem;
}
@media screen and (min-width: 800px) {
  .nav {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-nav {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
}

/*
Display App
*/

.alert {
  margin-bottom: 1rem;
  height: 1.25rem;
  display: grid;
  align-items: center;
  text-align: center;
  font-size: 0.7rem;
  border-radius: 0.25rem;
  letter-spacing: var(--spacing);
  text-transform: capitalize;
}
.alert-danger {
  color: #721c24;
  background: #f8d7da;
}
.alert-success {
  color: #155724;
  background: #d4edda;
}
.form h3 {
  color: var(--clr-black);
  margin-bottom: 1.5rem;
  padding-bottom: 0.25rem;
  text-align: center;
}
.form-action {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input, .input-bud {
  padding: 0.25rem;
  padding-left: 1rem;
  background: var(--clr-white);
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  border-color: transparent;
  font-size: 1rem;
  flex: 1 0 auto;
  color: var(--clr-black);
  width: auto;
}
.input-bud {
  margin-bottom: 0.25rem;
}
.input::placeholder {
  font-family: var(--ff-secondary);
  color: var(--clr-blue-dark);
}
.submit-btn {
  background: var(--clr-blue-light);
  border-color: transparent;
  flex: 0 0 5rem;
  display: grid;
  align-items: center;
  padding: 0.25rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  cursor: pointer;
  content: var(--clr-blue);
  transition: var(--transition);
  font-size: 0.875rem;
}
.submit-btn:hover {
  background: var(--clr-blue);
  color: var(--clr-white);
}
.submit-btn-bud {
  background: var(--clr-blue-light);
  border-color: transparent;
  align-items: center;
  padding: 0.25rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  border-radius: var(--radius);
  cursor: pointer;
  content: var(--clr-blue);
  transition: var(--transition);
  font-size: 0.85rem;
  margin-top: 0.25rem;
}
.submit-btn-bud:hover {
  background: var(--clr-blue);
  color: var(--clr-white);
}
.list {
  margin-top: 2rem;
}
.item-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  transition: var(--transition);
  padding: 0.25rem 1rem;
  border-radius: var(--radius);
  text-transform: capitalize;
}
.item-list:hover {
  color: var(--clr-blue-dark);
  background: var(--clr-white);
}
.title {
  margin-bottom: 0;
  color: var(--clr-black);
  letter-spacing: 2px;
  transition: var(--transition);
}
.edit-btn {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: 0.7rem;
  margin: 0 0.15rem;
  transition: var(--transition);
  color: var(--clr-green-light);
}
.edit-btn:hover {
  color: var(--clr-green-dark);
}
.delete-btn {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: 0.7rem;
  margin: 0 0.15rem;
  transition: var(--transition);
  color: var(--clr-red-light);
}
.delete-btn:hover {
  color: var(--clr-red-dark);
}
.clear-btn {
  text-transform: capitalize;
  width: 10rem;
  height: 1.5rem;
  align-items: center;
  background: transparent;
  border-color: transparent;
  color: var(--clr-red-light);
  margin: 0 auto;
  font-size: 0.85rem;
  letter-spacing: var(--spacing);
  cursor: pointer;
  transition: var(--transition);
  margin-top: 1.25rem;
}
.clear-btn:hover {
  color: var(--clr-red-dark);
}
